.button-back {
    width: 150px;
    height: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-size: 13px;
    align-items: center;
    margin: 25px;
    justify-content: center;
    border: 1px solid;
    color: white;
    background: linear-gradient(to left, rgb(70, 142, 214) 50%, transparent 50%) no-repeat right/ 200%;

}

.button-back:hover {
    background-position: left;
    color: grey;
}

.character-amiibos {
   /* background-color: rgb(220, 59, 172); */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 45px;
    text-align: center;
    margin:0px;
}

.un-amiibos {
    /*background-color: brown;*/
    
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;

}

.contendor-img-nombre-serie {
    background-color: rgb(139, 192, 74, 0.7); 
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px;
    justify-content: center;
    height: 200px;
   
}

@media screen and (min-width: 600px) {

    .contendor-img-nombre-serie {
        height: 350px;

    }

    .nombre-serie {
        font-size: 25px;
    }

    .contendor-informacion-un-amiibo {
        font-size: 25px;
    }
}

.contendor-img-un-amiibo {
    /*background-color: blueviolet; */
    padding: 10px;
    text-align: center;
    align-items: center;
    height: 100%;
    margin: 20px;
}

.img-un-amiibo {
    /*background-color: rgb(250, 21, 0); */
    width: 100%;
    height: 100%;

}

.nombre-serie {
    /*background-color: plum; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    align-items: center;
    text-align: center;
    border-left: 2px solid grey;

}

.contendor-informacion-un-amiibo {
    background-color: rgb(197, 35, 130, 0.7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    border-top: 2px solid rgb(172, 170, 170);
    padding: 10px;
}

.nombre-un-amiibo {
    /*background-color: aqua; */
    display: flex;
    margin: 15px;

}

.serie-un-amiibo {
    /*background-color: green; */
    display: flex;
    align-items: center;
    text-align: center;
    margin: 15px;
}

.seriejuego-un-amiibo {
    /*background-color: palevioletred; */
    margin: 15px;

}

.tipo-un-amiibo {
    /*background-color: blue; */
    margin: 15px;

}

.juego-un-amiibo {
    /*background-color: rgb(71, 52, 58); */
    margin: 15px;
}

.disponible-un-amiibo {
    /*background-color: darkgoldenrod; */
    margin: 15px;
}

.subtitulo {
    /* background-color: salmon; */
    font-weight: bold;
    text-align: center;
    align-items: center;
    margin: 0px;
}

.subtitulo-informacion {
    /*background-color: skyblue; */
    text-align: center;
    align-items: center;
    margin: 0px;
    color: rgb(93, 92, 92);

}