.button-cerrar-sesion{
   width: 150px;
   height: 40px;
   font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
   font-size: 13px;
   align-items: center;
   margin: 25px auto;
   justify-content: center;
   border: 2px dashed;
   color: grey;
   background: linear-gradient(to left, transparent 50%, rgb(233, 172, 59) 50%) no-repeat right/ 200%;
   transition: background-position .3s ease;
}

.button-cerrar-sesion:hover{
   background-position: left;
   color: rgb(233, 172, 59, 0.4);
   color: white;
}

  .Imagen-top{
   background-image: url("../img/amiibos2.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;


   width: 100%;
   height: 30vh;
  
}

.Titulo-inicial{
   font-size: 30px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: black;
   text-align: center;
   text-transform: uppercase;
}