.lista-amiibos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px;
    margin-bottom: 40px;
    border: 2px solid rgb(234, 232, 232);
    padding: 0px;
    background-color: rgba(239, 231, 233, 0.6);
}

.nombre-amiibo {
    font-size: 20px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-amiibo {
    height: 250px;
    width: 50%;
}

.nombre-tipo {
    margin: 5px;
}

.detalles {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    border-top: 2px solid rgb(139, 192, 74, 0.4);
}

.button-detalles {
    background-image: linear-gradient(to right, rgb(182, 38, 121), rgba(76, 167, 225));
    width: 130px;
    height: 35px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 13px;
    border: none;
    align-items: center;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    color: aliceblue;
}