.contendor-button-mas-amiibos{
  display: flex;
  align-items: right;
}

.button-mas-amiibos{
  width: 150px;
  height: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  cursor: pointer;
  font-size: 13px;
  align-items: center;
  margin: 25px auto;
  justify-content: center;
  border: none;
  color: black;
  background: linear-gradient(to left, rgb(209, 209, 209) 20%, rgb(118, 118, 118) 70%) no-repeat right/ 200%;
  transition: background-position .3s ease;
}

.button-mas-amiibos:hover{
  background-position: left;
  border: none;
  color: white;
}

.contenedor-item {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* esto es para pantalla grande*/

@media screen and (min-width: 720px) {

  .contenedor-item{
     display: grid;
     grid-template-columns: 50% 50%;
  }

}

@media screen and (min-width: 895px) {

  .contenedor-item {
     display: grid;
     grid-template-columns: 30% 30% 30%;
  }

}

@media screen and (min-width: 1070px) {

  .contenedor-item {
     display: grid;
     grid-template-columns: 25% 25% 25% 25%;
  }
  
}